@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.html{
  scroll-behavior: smooth;
}
*{
  font-family: 'Montserrat', sans-serif;
}
/* For homepage background [still in development]*/
.cw {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #231e23;
}

/* styling for Home page */
.homePage{  
  height: 100%;
  width: 100%;
  align-content: center;
  position: relative;
  height: 100vh;
  background-color:#231e23;
}
.backgroundImg{
  width: 100%;
  height: 100%;
}
/*Main title component styling */
#mainTitle{
  position: absolute;
  left: 25%;
  right: 25%;
  top: 40%;
  vertical-align: middle;
  color: #DEEEEA;
  text-align: center;
}

#text{
  font-size: 4em;
  color: #DEEEEA;
  letter-spacing: 3px;
  font-weight: bold;
} 

#text span:hover{
  color: #08fdd8;
}
#subText{
  font-weight: bold;
  color: #08fdd8;
}

#subText span:hover{
  color: #DEEEEA;
}
/*Navbar styling */
#navbar{
  width: 100%;
  position: fixed;
  font-size: 1rem;
  background-color: transparent;
}

#navbar-items{
  width:100%;
  text-align: center;
}

#navbar-link{
  padding-right: 1%;
  padding-left: 1%;
  font-size: 18px;
  font-weight: 600;
  font-family: sans-serif;
  color: #EEEADE;
}

#navbar-link:hover{
  color: #08fdd8;
}

/* Arrow down styling */
.arrow {
  position: absolute;
  left: 49%;
  top: 92%;
  background-color: transparent;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.icons{
  padding: 3%;
  color: #DEEEEA;
}

.icons:hover{
  color: #08fdd8;
}
.homeIconsRow{
  padding: 10px;
}
.homeIconsRow a{
  display: inline;
}

/* Skills page styling */
.skillsPage{     
  width: 100%;  
  height: 100%; 
  text-align: center;
  justify-content: center;
  background-color: #00004C;
  overflow-x: hidden;
}
#imageRow{
  text-align: center;
  justify-content: center;
}
#headshot{
  width: 250px;
  height: 250px;
}
#aboutMePara{
  text-align: center;
  justify-content: center;
  width: 100%;
  margin: 0%;
}
#aboutMePara p{ 
  width: 50%;
  color: #DEEEEA;
  padding: 1%;
  font-size: larger;
}
.blogSec{
  color: #DEEEEA;
}

.skillsProgressbar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.progressBar{
  width: 100%;
  max-width: 25rem;
  padding: 2px;
}
.progressBarTitle{
  font-weight: 600;
  font-size: large;
  color: #DEEEEA;
}
.progressBarSingle{
  padding: 12px;
}
#bar{
  height: 5px;
}
/* this is a custom bootstrap class for progress-bar */
.progress-bar {
  background-color: #08fdd8 !important;
  color: #DEEEEA;
}
.whiteLine{
  width: 80%;
  height: 1px;
  border-width: 0;
  color: #DEEEEA;
  background-color: #08fdd8;
  margin: auto;
}

/* Sub Title styling */
.subTitle{
  font-family: 'Montserrat', sans-serif;
}
.subTitle h1{
  font-size: 2.5rem;
  font-weight: 600;
  padding: 4%;
  color: #DEEEEA;
}
.subTitle span:hover{
  color: #08fdd8;
}

/* Education Page */
.educationPage{
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  background-color: #131862;
  color: #DEEEEA;
  overflow-x: hidden;
}
#school{
  padding: 75px;
  border-top: 1px solid #08fdd8;
}
.schoolDesc{
  padding: 30px !important;
}
.schoolDesc h6{
  padding: 10px;
}
.schoolDescTwoCol{
  padding: 20px;
}
#degreeTitle{
  padding: 5px !important;
  color: #08fdd8 !important;
}
/* Projects Page*/
.projectPage{
  width: 100%;  
  height: 100%;  
  text-align: center;
  justify-content: center;
  /* background-color: #062974; */
  background-color: #00004C;
  overflow-x: hidden;
}
#projectsContainer{
  padding-right: 10%;
  padding-left: 10%;
}
#projectRow{
  width: 100%;
  text-align: center;
  justify-content: center;
}
#projectCard{
  max-width: 400px;
  height: 400px;
  box-shadow: 2px 2px 5px 2px #08fdd8;
  margin: auto;
  margin-bottom: 10%;
  background-color: #DEEEEA;
  align-self: center;
  overflow: hidden;
}
#projectCard:hover .card-text{
  opacity: 1;
  transition: opacity 1000ms;
}
#projectCard:hover #projectImg{
  opacity: 0;
  transition: opacity 200ms;
}
#projectCard:hover #projectTitle{
  opacity: 0;
}
#projectTitle{
  opacity: 1;
  font-size: 1.3rem;
  font-weight: 400;
  color: #231e23;
  background-color: transparent;
}

#projectImg{
  width: 400px;
  height: 330px;
  opacity: 1;
}
#projectTitle{
  font-weight: 700;
  font-size: 1.5em;
  align-self: center;
}
.card-text{
  color: #231e23;
  text-align: center;
  font-weight: bold;
  opacity: 0;
}

/* contact page*/
.contactPage{
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
  background-color: #131862;
  /* background-color: #0d3a58; */
  color: #08fdd8;
  padding-bottom: 100px;
}

/* footer */
.footer{
  color: #DEEEEA;
  background-color: black;
  text-align: center;
}

/* Adjusted of styling for mobile screens. (this is the size when navbar shrinks*/
@media screen and (max-width: 1024px) {
  /*Home page styling*/
  #text{
    font-size: 3rem;
    letter-spacing: 1px;
  }
  #subText{
    font-size: 1rem;
  }
  #navbar{
    background-color: #231e23;
    opacity: 0.8;
  }

   /*Skills Page styling*/
  .skillsPage{
    padding: 10px;
    flex-direction: column;
  }
  #headshot{
    width: 150px;
    height: 150px;
  }
  #aboutMePara p{
    width: 80%;
    text-align: center;
    font-size: smaller;
  }
  /*Education Page Styling*/
  #school{
    padding: 5px;
  }
  .schoolDesc{
    font-size: small !important;
    padding: 0;
  }
  .schoolDesc h6{
    font-size: small;
    padding: 0px;
  }
  /*Project page styling*/
  #projectsContainer{
    padding: 0%;
  }
  #projectCard{
    width: 300px;
    height: 300px;
  }
  #projectImg{
    width: 300px;
    height: 300px;
  }
  #projectCard:hover .card-text{
    font-size: 0.8rem;
  }
  /*Contact Page*/
  .contactPage h3, .contactPage h4{
    font-size: smaller;
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1500px) {
 #projectsContainer{
   padding: 0px;
 }
}